@model StudentsApp.WEB.Models.Entities.Edit.CreateStudentSubject

@{
    ViewBag.Title = "AddStudent";
}

<h4>Выберите предметы и студентов, которые будут посещать данного преподавателя</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TeacherId)
    @Html.HiddenFor(model => model.FacultyId)

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Students, htmlAttributes: new { @class = "control-label" })
            @for (int i = 0; i < Model.GropedStudents.Count(); i++)
            {
                var groupS = Model.GropedStudents.ElementAt(i);
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#@i">@groupS.Key</a>
                    </h4>
                </div>
                <div id="@i" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @foreach (var student in groupS)
                            {
                                var item = new SelectListItem()
                                {
                                    Text = student.FullName,
                                    Value = student.Id.ToString(),
                                    Selected = Model.SelectedIdSubjects.Contains(student.Id.ToString())
                                };
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SelectedIdStudents" @(item.Selected ? "checked=\"checked\"" : "") value="@item.Value" />
                                    @item.Text
                                </label>
                            </div>
                            }
                    </div>
                </div>
            </div>
            }
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Subjects, htmlAttributes: new { @class = "control-label" })
            @foreach (var subject in Model.Subjects)
            {
                var item = new SelectListItem()
                {
                    Text = subject.SubjectName,
                    Value = subject.Id.ToString(),
                    Selected = Model.SelectedIdSubjects.Contains(subject.Id.ToString())
                };
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="SelectedIdSubjects" @(item.Selected ? "checked=\"checked\"" : "") value="@item.Value" />
                        @item.Text
                    </label>
                </div>
            }
            <button class="btn btn-default">Сохранить</button>
        </div>

        <div class="form-group col-md-10">
            @Html.ActionLink("Вернуться назад", "Details", "Teacher", new { id = Model.TeacherId }, null)
        </div>    
    </div>
}