@model StudentsApp.WEB.Models.Entities.ComplexEntities.ComplexTeacher
@{
    ViewBag.Title = "GetTeacher";
    bool checkIfMoreDean = User.IsInRole("dean") || User.IsInRole("admin");
}

<br />
<div class="well">
    <h3>@Model.FullName</h3>
    <h4>@Model.Email</h4>
    <h4>Количество студентов - @Model.CountStudents</h4>
    @if (checkIfMoreDean)
    {
        using (Html.BeginForm("Edit", "Account", FormMethod.Get))
        {
            @Html.Hidden("idPerson", Model.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-warning" value="Редактировать профиль" />
        }
    }
</div>

<div class="well">
    <h3>Степени</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Факультет</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>@post.NamePostTeacher</td>
                    <td>@post.FacultyName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="well">
    <h3>Предметы</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Факультет</th>
                @if (checkIfMoreDean)
                {
                    <th>Действия</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var subject in Model.TeacherSubjects)
            {
                <tr>
                    @if (checkIfMoreDean)
                    {                        
                        @Html.Action("Delete", "TeacherSubject", new { id = subject.Id })
                    }
                    else
                    {
                        @Html.Action("Details", "TeacherSubject", new { id = subject.Id })
                    }
                </tr>
            }
        </tbody>
    </table>
    @if (checkIfMoreDean)
    {
        using (Html.BeginForm("Create", "TeacherSubject", FormMethod.Get))
        {
            @Html.Hidden("idTeacher", Model.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-primary" value="Добавить дисциплину" />
        }
    }
</div>
<br />
<div class="well">
    <h3>Студенты, посещающие данного преподавателя</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Предмет</th>
                <th>Факультет</th>
                @if (checkIfMoreDean)
                {
                    <th>Действия</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var ss in Model.StudentsSubjects)
            {
                <tr>
                    <td>@Html.ActionLink(ss.FullStudentName, "Details", "Student", new { id = ss.StudentId }, null)</td>
                    @if (checkIfMoreDean)
                    {
                        @Html.Action("Delete", "StudentSubject", new { id = ss.Id });
                    }
                    else
                    {
                        @Html.Action("Details", "StudentSubject", new { id = ss.Id });
                    }                   
                </tr>
            }
        </tbody>
    </table>

    @*@for (int i = 0; i < Model.GroupedStudentsSubjects.Count(); i++)
    {
        var studentSubject = Model.GroupedStudentsSubjects.ElementAt(i);
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@i">@studentSubject.Key</a>
                </h4>
            </div>
            <div id="@i" class="panel-collapse collapse in">
                <div class="panel-body">
                 
                </div>
            </div>
            <br />
        </div>
    }*@
    @if (checkIfMoreDean)
    {
        using (Html.BeginForm("Create", "StudentSubject", FormMethod.Get))
        {
            @Html.Hidden("idTeacher", Model.Id)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-primary" value="Добавить студентов" />
        }
    }
</div>